
    body {
      text-align: center;
      background-repeat: no-repeat;
      background-size: cover;
      background:
         linear-gradient(to bottom right, #000000 0%, #2C3D4F 90%) fixed, /* full page blend- http://stackoverflow.com/questions/16841323/making-gradient-background-fill-page-with-css */
         linear-gradient(to left, #0A3442 0%, #104455 90%);
      font-family: "Helvetica";
    }
    
    .unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    }

    h1{
        background-image: url("../pics/ocean.jpg");
        background-size: cover;
        font-family: cursive;
        font-size: 40px;
        color: white;
        margin-top: 20px;
        border: outset;
        border-color:#3AD3CD;
        border-width: 20px;
        border-bottom: 10px outset grey;
        border-top: 5px outset #7FFFD6;
        border-radius: 20%;
        padding: 20px;
        
       /* background-blend-mode: lighten;
          /*  linear-gradient(#FF9000 0%, black 70%),
         /*  linear-gradient(to right, #7FFFD6 0%, #1B435D 77%);
  background-blend-mode: screen, difference, lighten;  gradient trick css-tricks.com/almanac/properties/b/background-blend-mode/*/

    }
    
    h2{
      color: white;
    }
    
    img {
      padding: 0px;
      margin: 30px;
      border: 3px solid black ;
      border-radius: 60%;
      height: 375px;
      width: 375px;
      
    }
    
    a img.frontpage {
      padding: 0px;
      margin: 30px;
      border: 3px solid black;
      border-radius: 60%;
      text-align: center;
      height: 300px;
      width: 300px;
    }

    a img:hover {
    box-shadow: 0 0 1px 2px white;
    }

    h2{
      font-family: fantasy;
      color: white;
      
    }
    
    a {
      style= "display:block;
      font-family: fantasy;
      text-decoration: none;

    }
    
    .xtrnlink {
      font-family: fantasy;
      text-decoration: underline;
      color: blue;
      font-size: 20px;
    }
    
    img.xtrnlink {
      height: 300px;
      width: 400px;
      border-radius: 0;
    }
    
    a.xtrnlink:hover{
      color: white;
    }
    
    p.xtrnlink { 
      font-family:fantasy;
      color: purple;
      text-decoration: none;
    }

    div.navbar {
      vertical-align: top;
      display: inline-block;
      text-align: center;
      width: 150px;
    }

    img.bottomlink {
      padding: 0px;
      margin: 20px;
      border: 3px solid black ;
      border-radius: 60%;
      height: 75px;
      width: 75px;
    }

    span.bottomlink {
/*      margin: auto;*//* experiment with centering using this*/
      text-align: center;
      display: block;
      height: 85px;
      width: 85px;

    }
    

